<div class="container mt-4">
    <h1 class="text-center mb-4">Registration form</h1>
  
    <form [formGroup]="userForm" (ngSubmit)="onCreateUser()" class="needs-validation" novalidate>
      <div class="form-group mb-3">
        <label for="vat">VAT:</label>
        <input id="vat" formControlName="vat" class="form-control" placeholder="Enter your 9 digit VAT" required />
        <div *ngIf="userForm.get('vat')?.invalid && (userForm.get('vat')?.touched || userForm.get('vat')?.dirty)" class="text-danger">
          VAT is required.
        </div>
      </div>
  
      <div class="form-group mb-3">
        <label for="name">Name:</label>
        <input id="name" formControlName="name" class="form-control" placeholder="Enter your first name" required />
        <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.touched || userForm.get('name')?.dirty)" class="text-danger">
          Name is required.
        </div>
      </div>
  
      <div class="form-group mb-3">
        <label for="surname">Surname:</label>
        <input id="surname" formControlName="surname" class="form-control" placeholder="Enter your last name" required />
        <div *ngIf="userForm.get('surname')?.invalid && (userForm.get('surname')?.touched || userForm.get('surname')?.dirty)" class="text-danger">
          Surname is required.
        </div>
      </div>
  
      <div class="form-group mb-3">
        <label for="address">Address:</label>
        <input id="address" formControlName="address" class="form-control" placeholder="Enter your address e.g. Main St 10" />
      </div>
  
      <div class="form-group mb-3">
        <label for="phoneNumber">Phone Number:</label>
        <input id="phoneNumber" formControlName="phoneNumber" class="form-control" placeholder="Enter your phone number" required />
        <div *ngIf="userForm.get('phoneNumber')?.invalid && (userForm.get('phoneNumber')?.touched || userForm.get('phoneNumber')?.dirty)" class="text-danger">
            Phone number is required.
          </div>  
    </div>
  
      <div class="form-group mb-3">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" class="form-control" placeholder="Enter your email e.g. example@example.com" required />
        <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty)" class="text-danger">
          Valid email is required.
        </div>
      </div>
  
      <div class="form-group mb-3">
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" class="form-control" placeholder="Enter your password at least 8 characters" required />
        <div *ngIf="userForm.get('password')?.invalid && (userForm.get('password')?.touched || userForm.get('password')?.dirty)" class="text-danger">
          Password is required.
        </div>
      </div>
  
      <div class="form-group mb-3">
        <label for="role">Role:</label>
        <select id="role" formControlName="role" class="form-control" required>
          <option value="" disabled>Select Role</option>
          <option value="PROPERTY_OWNER">Property Owner</option>
          <option value="STAFF_MEMBER">Staff Member</option>
        </select>
        <div *ngIf="userForm.get('role')?.invalid && (userForm.get('role')?.touched || userForm.get('role')?.dirty)" class="text-danger">
          Role is required.
        </div>
      </div>
  
      <div class="d-flex justify-content-end mt-4">
        <button type="button" class="btn btn-secondary me-2 " (click)="resetForm()">Cancel</button>
        <button type="submit" class="btn btn-primary">Create User</button>
       
      </div>
    </form>
  </div>
  